@tailwind base;
@tailwind components;
@tailwind utilities;

/* 👇 Aquí registras tu fuente personalizada */
@font-face {
  font-family: 'Hug Me Tight';
  src: url('/Fuentes/Hug Me Tight - TTF.ttf') format('truetype'),
       url('/Fuentes/Hug Me Tight - OTF.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
